.modal{
    .modal {
        display: flex;
        
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 0, 0, 0.5);
    }
}
.close{
    display: flex;
    justify-content: flex-end;
}
.submit{
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}
