/* .video-listing-main {
  
    padding: 10px 0;
    position: relative;
    left: 15%;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  } */
  
  .video-listing-main h2 {
    text-align: left;
  }
  
  .video-listing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }